{% extends 'base.html' %} 
{% block content %}

    <header class="container">
        <h1 class="text-center">Pan Tadeusz czyli ostatni zajazd na Litwie: historia szlachecka z roku 1811 i 1812 we dwunastu księgach wierszem</h1>
        <h2 class="text-end">Adam Mickiewicz</h2>

    </header>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="list-group">
                    <a  class="list-group-item list-group-item-action"><i class="bi bi-list-columns"></i>Spis Treści</a>
                    <a href="/" class="list-group-item list-group-item-action"><i class="bi bi-house-fill"></i>Strona główna</a>
                    <a href="/k1.html" class="list-group-item list-group-item-action"><i class="bi bi-bookmark-fill"></i>Księga 1</a>
                    <a href="/k2.html" class="list-group-item list-group-item-action"><i class="bi bi-bookmark-fill"></i>Księga 2</a>
                    <a href="/k3.html" class="list-group-item list-group-item-action"><i class="bi bi-bookmark-fill"></i>Księga 3</a>
                    <a href="/k4.html" class="list-group-item list-group-item-action"><i class="bi bi-bookmark-fill"></i>Księga 4</a>
                    <a href="/k5.html" class="list-group-item list-group-item-action"><i class="bi bi-bookmark-fill"></i>Księga 5</a>
                    <a href="/k6.html" class="list-group-item list-group-item-action"><i class="bi bi-bookmark-fill"></i>Księga 6</a>
                    <a href="/k7.html" class="list-group-item list-group-item-action"><i class="bi bi-bookmark-fill"></i>Księga 7</a>
                    <a href="/k8.html" class="list-group-item list-group-item-action"><i class="bi bi-bookmark-fill"></i>Księga 8</a>
                    <a href="/k9.html" class="list-group-item list-group-item-action"><i class="bi bi-bookmark-fill"></i>Księga 9</a>
                    <a href="/k10.html" class="list-group-item list-group-item-action"><i class="bi bi-bookmark-fill"></i>Księga 10</a>
                    <a href="/k11.html" class="list-group-item list-group-item-action"><i class="bi bi-bookmark-fill"></i>Księga 11</a>
                    <a href="/k12.html" class="list-group-item list-group-item-action"><i class="bi bi-bookmark-fill"></i>Księga 12</a>
                  </div>

            </div>
            <div class="col-9">
                <img src="/images.jpg" alt="PanTadeusz" class="'img-fluid rounded">

            </div>
        </div>

    </div>
    {% endblock %}
    {% block content %}
    <footer>
        (c) Bartłomiej Gręda, Uniwersytet Ekonomiczny w Krakowie
    </footer>
    {% endblock %}
